*{margin: 0; padding: 0;}
body{font-family:arial,sans-serif;font-size:1em;color:#000;background:#fff;padding:2em;}
h1{font-size: 50px;color: #c00}
#lastfm {padding: .2em;padding-left: 55px;background: url(lastfm.png) left center no-repeat;color: #369;}
#lastfm span {color:#666;font-weight: bold;font-size: .8em;}
#lastfmlist {margin: 5px 5px 5px 15px;font-size: .8em;}
#lastfmlist li {line-height: 1.3em;padding-bottom: .2em;color: #ccc;list-style: square;}
#lastfmlist li a {color: #333;}
section{margin-top: 50px}
footer{color: #999;padding-top: 100px;font-size: 11px}
footer a{color: #c00}
