/* widget.css */
.widget {
	border: 1px solid black;
	width: 300px;
	padding: 10px;
	overflow: hidden; /* I hear this helps clear floats inside */
}

.widget a {
        color: #0092C9 
}

.widget h3 {
	font-size: 1.0em;
	font-style: italic;
	text-align: left;
	margin: 0px;
}

.widgetAvatar {
	float: left;
	margin: 4px 12px 6px 0px;
	max-width: 75px;
	max-height: 75px;
}

.widget img {
        width: 64px; 
        height: 64px;
}

.widgetDate {font-style: oblique;font-size: 12px;color: #999}

#twitterbadge div {margin-top: 1px}