html,body{font-family: georgia,helvetica,arial,sans-serif;}
h1{ font-size:200%; margin:0; padding-bottom:10px; color:#393;}
h1 span{color: #111}
form{background:#aaf478;padding: 5px;-moz-box-shadow:5px 5px 7px rgba(33, 33, 33, 0.7);width: 100%}

h1, h2, h3, body {    font-family: 'gill sans','dejavu sans',verdana,sans-serif;}
.tweetBox{ background-color : #E9F4FE; border: 1px solid #ccc; overflow : auto; margin:3px; padding:3px; width: 590px}
.tweetBox span a {color: #0187C5}
.tweetBox a {color: #000;font-weight: bold;margin-left: 10px;text-decoration: none}
.tweetBox a:hover{text-decoration: underline;}
h1 {color: #000000;font-size: 30px;font-weight: bold;left: 0px;letter-spacing: 5px;margin-bottom: 0;position: relative;}
img {border: 0}
#period {margin-top: 10px}
label {font-weight: bold}
span.date {font-size: 11px}
p label {font-size: 11px}

 #ft{font-size:80%;color:#888;text-align:left;margin:2em 0;font-size: 12px}
 #ft p a{color:#93C37D;}
#doc{
margin: auto;
text-align: left;
width: 39.69em;
}